

{include file="layouts/header" /}
<div class="wrap">

    <div class="container"  id="container">
        {__CONTENT__}
    </div>
</div>
{include file="layouts/footer" /}

<!-- fakeLoader start -->
<div class="fakeloader"></div>
<!-- fakeLoader end -->


<!--&lt;!&ndash; CORE JS FRAMEWORK - START &ndash;&gt;-->
<!--<? php-->
<!--$this->registerJsFile('@web/js/jquery.easing.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/bootstrap.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/pace.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/perfect-scrollbar.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/viewportchecker.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--?>-->
<!--&lt;!&ndash; CORE JS FRAMEWORK - END &ndash;&gt;-->

<!--&lt;!&ndash; CORE TEMPLATE JS - START &ndash;&gt;-->
<!--<? php-->
<!--$this->registerJsFile('@web/js/scripts.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--?>-->
<!--&lt;!&ndash; END CORE TEMPLATE JS - END &ndash;&gt;-->


<!--&lt;!&ndash; Sidebar Graph - START &ndash;&gt;-->
<!--<? php-->
<!--$this->registerJsFile('@web/js/jquery.sparkline.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/chart-sparkline.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--?>-->
<!--&lt;!&ndash; Sidebar Graph - END &ndash;&gt;-->

<!--<? php-->

<!--$this->registerJsFile('@web/js/jquery.flot.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/gauge.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/jquery.easypiechart.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/raphael-min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/morris.min.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/dashboard.js', ['depends' => 'backend\assets\AppAsset']);-->
<!--$this->registerJsFile('@web/js/youteefit.js', ['depends' => 'backend\assets\AppAsset']);-->

<!--$this->registerJs("-->
<!--$(document).ready(function() {-->

<!--});-->
<!--"); ?>-->

